* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #056f7b;
  color: #333;
}

header {
  background-color: #556f6a;
  padding: 20px;
  text-align: center;
}

#info {
  background-color: #e0dfef;
  padding: 20px;
}

article {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 10px auto 10px auto;
}


.expan{
  display: none;
  background-color: #5cc081;
}

.del{
  background-color: rgb(216, 179, 245);
  display: none;
  text-decoration: line-through;
}

.supplied{
    background-color: rgb(255, 224, 25);
    display: none;
}

button {
    margin: 0.2rem auto;
    display: flex;
    justify-content: center;
    background-color: #2298b8;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bolder;
    font-size: large;
    border-radius: 10px;
}


h2 {
  margin-bottom: 10px;
  text-align: center;
}

.riga {
  font-weight: 600;
  margin-right: 0.5rem;
}

.pageDisplay {
  border: solid #000;
  padding: 10px;
  background-color: #f0f0f0;
  width: 430px; 
  border-radius: 7%;
  height: 100%;
  line-height: 35px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}


.imageDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 50px;
}

/* .image {
  height: fit-content;
} */



